<!--
es para incluir y mostrar el componente StudencrudComponent dentro del 
componente principal de la aplicación (AppComponent).

En Angular, un componente puede ser reutilizado en otros componentes 
utilizando su "selector" (studencrud.component.ts). 
El selector es una propiedad del componente que define
la etiqueta HTML personalizada que representa el componente.

En el archivo de plantilla (lo que muestra por defecto angular al ejecutar la app)
digamos estoy sobresscribiendo la palntilla principal de angular con mi vista
o cambiando la plantilla por mi vista de student
del componente principal (app.component.html),
usas el selector como una etiqueta HTML personalizada para incluir y mostrar
el StudencrudComponent.
-->
<app-studencrud></app-studencrud>